<div
  class="toolbar"
  (click)="themeSwitcher()"
  role="banner"
  [class.dark]="darkTheme"
>
  <section>
    <img
      width="40px"
      height="40px"
      alt="Angular Logo"
      src="https://cdn.freebiesupply.com/logos/large/2x/angular-icon-1-logo-svg-vector.svg"
    />
    <span>SOLID Principles</span>
  </section>

  <mat-slide-toggle class="theme-switch" color="primary"></mat-slide-toggle>
</div>

<section class="mainWrapper">
  <app-card
    [isOpen]="false"
    img="https://miro.medium.com/max/1400/0*VD2FvtlNHDmV_iLb.png"
    title="Ng Analytics"
    text="Site metrics of the year 2023"
    btnText="Reload Data"
  ></app-card>
</section>
