.mainWrapper {
  padding: 100px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  padding: 0 15px;
  img {
    margin-right: 10px;
  }
  section {
    display: flex;
    align-items: center;
  }
  &.dark {
    background-color: black;
  }
}
